<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body>
<section class="content-header">
    <h1>&nbsp;</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">用户列表</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">用户列表</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>手机号</th>
                    <th>角色</th>
                    <th>操作</th>
                </tr>
                <tr  th:each="user: ${userList}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.phone}"></td>
                    <td>
                        <span class="label" th:classappend="${user.role.label}" th:class="label " th:text="${user.role.displayName}"></span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-warning">修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>